@model ProyectoTienda.Models.Puesto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.nombre_departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.nombre_departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_puesto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
