@model IEnumerable<ProyectoTienda.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido_m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contrasenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjeta.numTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombre_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido_m)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarjeta.numTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cliente })
        </td>
    </tr>
}

</table>
