@model IEnumerable<ProyectoTienda.Models.Direccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_direccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_direccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_direccion })
        </td>
    </tr>
}

</table>
