@model IEnumerable<ProyectoTienda.Models.Tarjeta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mes_vencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anio_vencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_titular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mes_vencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anio_vencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_titular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tarjeta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tarjeta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tarjeta })
        </td>
    </tr>
}

</table>
